.Rhistory
.DS_Store

*.aux
*.toc
*.gz
*.out
*.log
*.fls
*.fdb_latexmk

econometrica-1/jupyter-notebooks/diamonds.csv
econometrica-1/jupyter-notebooks/Labour.csv
econometrica-1/jupyter-notebooks/Mishkin.csv
econometrica-1/jupyter-notebooks/sleep75.csv
econometrica-1/jupyter-notebooks/wage1.csv
econometrica-1/jupyter-notebooks/wage2.csv
