
.DS_Store
econometrica2/.DS_Store
econometrica2/.DS_Store

.DS_Store
.vscode/settings.json
economerrica1/exercises/.Rhistory
time-series-analysis/exercises/exercises.aux
time-series-analysis/exercises/exercises.fdb_latexmk
time-series-analysis/exercises/exercises.toc
time-series-analysis/exercises/exercises.synctex.gz
time-series-analysis/exercises/exercises.out
time-series-analysis/exercises/exercises.log
time-series-analysis/exercises/exercises.fls
