
.DS_Store
econometrica2/.DS_Store
econometrica2/.DS_Store

.DS_Store
.vscode/settings.json
economerrica1/exercises/.Rhistory
time-series-analysis/exercises/exerices.aux
time-series-analysis/exercises/exerices.fdb_latexmk
time-series-analysis/exercises/exerices.log
time-series-analysis/exercises/exerices.synctex.gz
time-series-analysis/exercises/exerices.toc
time-series-analysis/exercises/exerices.fls
time-series-analysis/exercises/exerices.out
